$md-testapp: (
    50 : #e8eaec,
    100 : #c7cbd0,
    200 : #a1a9b0,
    300 : #7b8690,
    400 : #5f6c79,
    500 : #435261,
    600 : #3d4b59,
    700 : #34414f,
    800 : #2c3845,
    900 : #1e2833,
    A100 : #7ab9ff,
    A200 : #479eff,
    A400 : #1483ff,
    A700 : #0076f9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-testapp_accent: (
    50 : #f0eff6,
    100 : #dbd6e9,
    200 : #c3bbdb,
    300 : #aa9fcc,
    400 : #988bc1,
    500 : #8676b6,
    600 : #7e6eaf,
    700 : #7363a6,
    800 : #69599e,
    900 : #56468e,
    A100 : #ede8ff,
    A200 : #c5b5ff,
    A400 : #9d82ff,
    A700 : #8969ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



